{"openapi":"3.0.0","info":{"title":"Keylo API","version":"1.0.0","description":"Keylo public API documentation"},"servers":[{"url":"https://api.keyloroblox.xyz"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key"}}},"paths":{"/":{"get":{"summary":"Health check","description":"Confirms the API server is running and database is reachable.","responses":{"200":{"description":"API is healthy"},"500":{"description":"Database connectivity issue"}}}},"/roblox/user/{id}":{"get":{"summary":"Get Roblox user info","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Roblox user info"}}}},"/activity/entry/new/{workspaceId}":{"post":{"summary":"Create a new activity entry","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["apiKey","userId","trackedTime","type"],"properties":{"apiKey":{"type":"string"},"userId":{"type":"integer"},"trackedTime":{"type":"number"},"type":{"type":"string"},"chats":{"type":"number"},"sessionId":{"type":"string"}}}}}},"responses":{"200":{"description":"Activity entry created"},"400":{"description":"Missing or invalid fields"},"401":{"description":"Unauthorized"}}}},"/sessions/list/{workspaceId}":{"get":{"summary":"Get sessions list","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"start_time","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Returns list of sessions"},"401":{"description":"Unauthorized"}}}},"/sessions/{workspaceId}/create":{"post":{"summary":"Create a session","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["apiKey","type","title","startTime","durationMinutes"],"properties":{"apiKey":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"},"hostId":{"type":"string"},"coHostId":{"type":"string"},"startTime":{"type":"string","format":"date-time"},"durationMinutes":{"type":"number"},"groups":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"Session created"},"400":{"description":"Missing or invalid fields"},"401":{"description":"Unauthorized"}}}},"/sessions/delete/{workspaceId}/{sessionId}":{"delete":{"summary":"Delete a session","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Session deleted"},"401":{"description":"Unauthorized"}}}},"/sessions/update/attendees/{workspaceId}/{sessionId}":{"post":{"summary":"Update session attendees","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["apiKey","attendees"],"properties":{"apiKey":{"type":"string"},"attendees":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Attendees updated"},"400":{"description":"attendees must be an array"},"401":{"description":"Unauthorized"}}}},"/sessions/{workspaceId}/{sessionId}/server/create":{"post":{"summary":"Create a session server (placeholder)","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Server created successfully"}}}},"/sessions/{workspaceId}/{sessionId}/server/delete":{"delete":{"summary":"Delete a session server (placeholder)","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Server deleted successfully"}}}},"/workspace/{workspaceId}/staff":{"get":{"summary":"Get workspace staff","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Workspace staff list"},"404":{"description":"Workspace not found"}}}}},"tags":[]}
